* {
  margin: 0px 2px 5px 1px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.h1 {
  margin-top: 50px;
  font-size: 50px;
  margin-left: 50px;
  column-gap: normal;
  color: rgb(123, 194, 226);
}
.h1-color {
  color: rgba(255, 130, 108, 0.918);
}
.h2 {
  font-size: 30px;
  margin-left: 220px;
}
.name-color {
  color: #5ea4e6;
  font-weight: 700;
}
.top-banner {
  display: flex;
  box-shadow: 10px 10px 10px lightgray;
  background-image: url(../images/developer.png),
    linear-gradient(#7acbebd8, lightgray);
  background-repeat: no-repeat;
  background-size: contain;
}

.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width img {
  border-radius: 120px;
  width: 50%;
  padding-left: 150px;
  padding-top: 50px;
  padding-right: 20px;
}
.half-width h3 {
  text-align: center;
  color: rgba(48, 57, 70, 0.938);
  text-shadow: 0px 0px 6px 10px gray;
  text-decoration: underline black;
  margin-right: 70px;
}
.half-width p {
  margin-left: 34px;
  text-align: center;
  color: rgba(0, 0, 0, 0.884);
  font-weight: 515;
  margin-bottom: 20px;
  font-size: 17px;
}
.link-btn {
  text-decoration: none;
  background-image: linear-gradient(#7acbebd8, tomato);
  color: white;
  font-weight: 600;
  text-align: center;
  padding: 10px 40px;
  border-radius: 5px;
  margin-left: 300px;
}
.dream-big {
  text-align: center;
  display: flex;
  box-shadow: 10px 10px 10px lightgray;
  background-image: linear-gradient(#e3e6e7d8, lightgray);
}
.dream-big img {
  width: 50%;
  padding-left: 150px;
  padding-top: 50px;
  margin-right: 700px;
  border-bottom-right-radius: 60px;
  border-top-left-radius: 35%;
}
.h3 {
  text-align: center;
  font-weight: 900;
  padding-left: 70px;
  font-size: 25px;
  font: bolder;
  color: rgba(255, 118, 94, 0.842);
}
.dream-big1 {
  text-align: center;
  font-synthesis: style;
  padding-left: 50px;
  font-weight: 700;
  margin-top: 1%;
  text-decoration: underline;
}
.dream-bigp {
  text-align: center;
  margin-bottom: 2%;
  font-size: 18px;
}
.link-btn2 {
  text-decoration: none;
  background-image: linear-gradient(#7acbebd8, tomato);
  color: white;
  font-weight: 600;
  padding: 10px 40px;
  border-radius: 5px;
  margin-left: 760px;
  text-align: center;
}
.h1-color1 {
  color: rgba(255, 130, 108, 0.918);
}
.resume {
  background-image: linear-gradient(#e3e6e7d8, lightgray);
  box-shadow: 10px 10px 10px lightgray;
}
.section-title {
  /* padding-top: 50px; */
  margin-top: 30px;
  padding: 30px 20px 30px 20px;
  margin-right: 700px;
  margin-left: 550px;
  text-align: center;
  color: #ddf5fffa;
  text-decoration: underline;
  border-radius: 10px;
  font-weight: 400;
  background-image: linear-gradient(#7acbebd8, tomato);
  font-family: Georgia, "Times New Roman", Times, serif;
}
.resume-content {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.education {
  padding-top: 40px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}
.education-item {
  margin-top: 30px;
  margin-bottom: 30px;
}
.education-title {
  font-size: 25px;
  font-weight: 700;
  color: #474747;
  text-align: left;
}
.sub-title {
  color: #757575;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 2px;
  text-align: left;
}
.cg {
  text-align: left;
  font-weight: 700;
  color: #757575;
  font-family: "Times New Roman", Times, serif;
}
.description {
  font-weight: 700;
  color: #757575;
  font-family: "Times New Roman", Times, serif;
  text-align: left;
}
.intern-title {
  margin-right: 800px;
  margin-left: 650px;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  text-transform: capitalize;
}
.intern-sub-title {
  margin-right: 800px;
  margin-left: 650px;
  color: #757575;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 2px;
  text-align: center;
}
.intern-cg {
  margin-right: 800px;
  margin-left: 650px;
  text-align: center;
  font-weight: 700;
  color: #757575;
  font-family: "Times New Roman", Times, serif;
}
.intern-description {
  margin-right: 800px;
  margin-left: 650px;
  font-weight: 700;
  color: #757575;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 0;
}
.hr {
  margin-left: 250px;
  margin-right: 250px;
}
.end {
  margin-top: 11px;
  background-image: linear-gradient(lightgray, #7acbebd8);
  box-shadow: 10px 10px 10px lightgray;
}
.like {
  padding-top: 20px;
}
.like1 {
  background-image: linear-gradient(#e3e6e7d8, lightgray);
  box-shadow: 10px 10px 10px lightgray;
  display: flex;
  gap: 1px;
  justify-content: space-around;
  margin-left: 100px;
  margin-right: 100px;
}
.like-title {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
  margin-right: 880px;
  margin-left: 720px;
  text-align: center;
  color: #ddf5fffa;
  text-decoration: underline;
  border-radius: 10px;
  font-weight: 300;
  background-image: linear-gradient(#7acbebd8, tomato);
  font-family: Georgia, "Times New Roman", Times, serif;
}
.content-box {
  margin: 50px 50px;
  width: 267px;
  height: 377px;
  flex-shrink: 0;
  border-radius: 5px;
  background-image: linear-gradient(#fff, wheat);
  box-shadow: 0px 6px 50px 0px #fff;
}
.description1 {
  color: var(--dark-03, #757575);
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  justify-content: space-around;
  margin-right: 10px;
}
.like-title1 {
  margin-bottom: 10px;
  margin-top: 40px;
  font-weight: 35px;
  text-align: center;
}
.section-description {
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;
}
.section {
  background-image: linear-gradient(#e3e6e7d8, lightgray);
  box-shadow: 10px 10px 10px lightgray;
}
.like-box {
  margin-top: 30px;
  margin-left: 30px;
}
.connect {
  display: flex;
  gap: 100px;
  background-image: linear-gradient(lightgray, #fff8f3);
  margin: 100px;
  padding: 130px 200px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.06);
  height: 500px;
  flex-shrink: 0;
}
.name {
  margin: 10px;
  background-image: linear-gradient(wheat, #fff8f3);
  box-shadow: 3px 7px 10px 1px #757575;
}
.link-btn3 {
  text-decoration: none;
  background-image: linear-gradient(#7acbebd8, tomato);
  color: white;
  font-weight: 600;
  padding: 10px 40px;
  border-radius: 5px;
  margin-left: 10px;
  text-align: center;
  box-shadow: 3px 7px 10px 1px #757575;
}
.link-btn4 {
  text-decoration: none;
  background-image: linear-gradient(#7acbebd8, tomato);
  color: white;
  font-weight: 300;
  font-size: 20px;
  padding: 10px 40px;
  border-radius: 5px;
  margin-left: 60px;
  text-align: center;
}
.copyright {
  text-align: center;
  padding-bottom: 40px;
}
